* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    background-color: #282D35;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 30px;
    padding: 30px 25px;
}

.navbar h3, .navbar h4{
    margin: 0;
}

.navbar h3{
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.navbar h4{
    color: #DEEBF8;
    font-weight: 600;
}

.navbar img {
    height: 30px;
    margin-right: 7px
}

.main-section{
    padding: 57px 27px;
    color: white;
    background-image: url(./images/react-icon-large.png);
    background-repeat: no-repeat;
    background-position: right 75%;
}

.main-section h1{
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05rem;
}

.main-section ul {
    margin-top: 46px;
    max-width: 400px;
}

.main-section ul > li {
    line-height: 19px;
    padding-block: 10px;
}

.main-section ul > li::marker{
    font-size: 1.4rem;
    color: #61DAFB;
}