* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 30px;
    padding: 30px 25px;
}

.navbar h3, .navbar h4{
    margin: 0;
}

.navbar h3{
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.navbar h4{
    color: #DEEBF8;
    font-weight: 600;
}

.navbar img {
    height: 30px;
    margin-right: 7px
}
